# Emacs autosave files
\#*\#
.\#*
*~

# node
node_modules/

# backlog file. backed up separately
doc/changetask/backlog

# sed in-place backup files
*.bak*

# pngs
*.png

# Nightwatch environment specific variables:
# 	ANDROID_HOME
js/.env

# Nightwatch
js/nightwatch/examples/
js/tests_output/

# Nightwatch examples
act.svg/nightwatch/custom-assertions/elementHasCount.js
act.svg/nightwatch/custom-commands/angular/getElementsInList.js
act.svg/nightwatch/custom-commands/strictClick.js
act.svg/nightwatch/page-objects/google/search.js
act.svg/nightwatch/page-objects/google/searchResults.js
act.svg/nightwatch/templates/login.js
act.svg/nightwatch/templates/titleAssertion.js
act.svg/nightwatch/examples/

# run output files
act.svg/reports/
act.svg/results.*
act.svg/sut
act.svg/sut.version
act.svg/tests_output/
act.svg/logs/
